/* .footer_container {
    position: absolute;
    bottom: 0;
    width: 100%;
} */

.footer {
    /* display: flex;
    flex-direction: row; */
    /* position: absolute;
    bottom: 0; */
    /* justify-content: flex-start; */
    background-color: rgb(208, 208, 208);
    width: 100%;
    margin: auto;
    max-width: 1440px;
    min-width: 350px;
    text-align: center;
}

.footer p {
    text-align: center;
}