.navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: rgb(208, 208, 208);
    width: 100%;
    margin: auto;
    max-width: 1440px;
    min-width: 350px;
}

.nav_list {
    /* list-style: none; */
    font-size: 15px;
    font-weight: 600;
    background-color: rgb(200, 200, 200);
    padding: 8px;
    border-radius: 8px;
    margin: 8px;
    border: none;
}

.nav_list:hover {
    background-color: rgb(255, 255, 255);
}

.nav_link {
    text-decoration: none;
    color: black;
}