.searchResults {
    width: 100%;
    max-width: 1440px;
    min-width: 500px;
    margin: 20px auto;
}

.exercisesList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.searchResults h1 {
    margin-left: 50px;
}

.exercise_card {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-bottom: 30px;
    border-bottom: 5px solid rgb(231, 227, 227);
}

.exercise_card:hover {
    cursor: pointer;
    border-bottom: 5px solid gray;
}

.exercise_card h3 {
    /* text-align: center; */
    text-transform: capitalize;
    margin-left: 30px;
}
.exercise_card img {
    border-radius: 10px;;
}

.exercise_attribute {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    /* background-color: aqua; */
}

.exercise_attribute p {
    list-style: none;
    font-weight: 500;
    background-color: rgb(210, 210, 210);
    padding: 5px 10px;
    border-radius: 12px;
    margin: 3px 10px 20px 0;
    text-transform: capitalize;
}

.exercise_attribute p:hover {
    cursor: pointer;
    background-color: rgb(163, 163, 163);
}

.pageNavigation {
    display: flex;
    justify-content: center;
}



@media screen and (max-width: 1000px) {
    .exercise_card {
        width: 45%;
    }
}

@media screen and (max-width: 600px) {
    .exercise_card {
        width: 90%;
    }
}